
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(0,0,0);
    color:white;
    font-family: "Oswald",sans-serif;
}

main{
    height: calc(100%);
}
img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.grid{
    display: grid;
    gap:16px;
    /* fr is responsive  */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(4,1fr);
    grid-template-areas: 
    "r1s2-c1 r1s2-c2 r1s3-c3 r1-c4"
    "r1s2-c1 r1s2-c2 r1s3-c3 r2s3-c4"
    "r3s4-c1 r3-c2 r1s3-c3 r2s3-c4"
    "r3s4-c1 r4-c2 r4-c3s4 r4-c3s4";

    height: 100%;
    padding: 16px;
}
.grid__item{
    transition: all 0.3s;
    box-shadow: 0 0 2px rgba(0,00,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    
    background-color: rgb(22,22,24);
}
.grid__item:hover{
    box-shadow: 0 0 12px rgba(0,00,0,0.2);
    cursor:pointer;
}

.r1s2-c1{grid-area:r1s2-c1;}
.r1s2-c2{grid-area:r1s2-c2;}
.r1s3-c3{overflow-y: scroll;grid-area:r1s3-c3; background-color: rgb(42, 36, 36); color:#fff;}
.r1-c4{grid-area:r1-c4; background-color: lightgreen;}
.r2s3-c4{grid-area:r2s3-c4; background-color: lightpink; }
.r3s4-c1{grid-area:r3s4-c1; }
.r2c3{grid-area:r2c3; background-color: lightyellow;}
.r4-c2{grid-area:r4-c2; background-color: lightslategrey;}
.r4-c3s4{grid-area:r4-c3s4; background-color: lightskyblue;}

.r1s3-c3__flex{
    display: flex;
    gap:22px;
    flex-direction: column;
}
.flex__item{
    display: flex;
    gap:16px;
    align-items: center;
}
.flex__item img{width: 28px; background-color: #fff;}
.r3-c2__flex{
    display: flex;
    gap:15px;
    justify-content: center;
}
.r3-c2{
    padding: 16px;
}
.r3-c2__flex img{
    width: 11%;
    background-color: white;
}
.r1-c4__flex img{
    width: 10%;
}
.r3-c2 h3{margin-bottom: 10px;}
.r3-c2 p{margin-bottom: 10px;}

.r3s4-c1{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 16px;
overflow-y: scroll;
}
.r3s4-c1 .big-text{
    font-size: 5vw;
    letter-spacing: -3px;
}
.r3s4-c1 .sub-text{
    font-size: 2vw;
    color: rgb(138,43,226);
}
.r4-c2{
    padding: 16px;
}

.flex{
    display: flex;
    align-items: center;
}

 .flex-icon{
    width: 60px;
    background-color: rgb(177,248,71);
    text-align: center;
    padding: 8px;
    margin-right: 12px;
}
.r3s4-c1 .bar-code{
    width: 95%;
    margin-top: 8px;
}

@media (max-width:967px) {
    .grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "r1s2-c1 r1s2-c2"
      "r1s3-c3 r1-c4"
      "r2s3-c4 r3-c2"
      "r3s4-c1 r4-c2"
      "r4-c3s4 r4-c3s4";
  }
}