<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
div{
display:flex;
overflow: hidden;
}
h1{
animation: mt 1.5s linear infinite;
padding:10px;
transform: rotateZ(-180deg);
}
@keyframes mt{
from{transform:translateX(0%);}
to{transform:translateX(-100%);}
}

</style>
</head>
<body>
<div>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
<h1> Heading</h1>
</div>
</body>
</html>